html, body {
    margin: 0;
    padding: 0;
}

.index {
   display: flex;
   flex-direction: column;
   font-family: Raleway;
   &-title {
       text-align: center;
   } 
   &-main {
       width: 50%;
       margin: 10px auto;

   }
}