.postblock {
    margin: 60px 0;
    & a {
        color: darkslategray;
        text-decoration: none;
    }
    &-title {
        margin-bottom: 0;
    }
    &-image {
        width: 150px;
        float: left;
        margin-right: 20px;
    }
    & p {
        margin: 0;
    }
}